@(registerForm: Form[models.users.Member])

@import helper._

@main("Register"){ 
    <p class="lead">Want to sign up ? </p>
    
    @form(action=routes.ProductCtrl.registerSubmit(), 'class -> "form-horizontal", 'role -> "form"){
      <div class="container">
          
        
          @helper.form(controllers.security.routes.LoginCtrl.loginSubmit()) {
            @CSRF.formField

            <div class="form-group">
                @inputText(registerForm("email"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "Email")
            </div>
            <div class="form-group">
                @inputPassword(registerForm("password"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "Password")
            </div>

            <div class="form-group">
                @inputText(registerForm("role"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "role")
            </div>

            <div class="form-group">
                @inputText(registerForm("name"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "name")
            </div>
            
          
        }
  
   
  
    
    
    <div class="action"> 
      <input type="submit" value="Register" class="btn btn-primary">
      <a href="@routes.AdminProductCtrl.listProduct(0)"> 
        <button type="button" class="btn btn-warning">Cancel</button>
      </a>
    </div>
    </div>
      </body>
    
    
    }
    }