@(productForm: Form[models.products.Product],member: models.users.Member)

@import helper._

@main("Add Project",member){ 
    <p class="lead">Add Product</p>
    
    @form(action=routes.AdminProductCtrl.addProductSubmit(), 'class -> "form-horizontal", 'role -> "form",'enctype -> "multipart/form-data"){
      <div class="container">
          
        
    @CSRF.formField
    
    @inputText(productForm("album_name"),'_label -> "Album name", 'class -> "form-control")
    @inputText(productForm("year"),'_label -> "Year", 'class -> "form-control")
    @inputText(productForm("type"),'_label -> "Type", 'class -> "form-control")
    @inputText(productForm("price"),'_label -> "Price", 'class -> "form-control")
    @inputText(productForm("stock"),'_label -> "Stock", 'class -> "form-control")
    
    <label>Image Upload</label>
    <input class="btn-sm btn-default" type="file" name="upload">
    <br><br>
  
    
    
    <div class="action"> 
      <input type="submit" value="Add Project" class="btn btn-primary">
      <a href="@routes.ProductCtrl.listProduct()"> 
        <button type="button" class="btn btn-warning">Cancel</button>
      </a>
    </div>
    </div>
      </body>
    
    
    }
    }