@( member: models.users.Member)

@main("Home Page",member) {

        <h1>Welcome to Aural Soul</h1>
                
             <hr class="featurette-divider">
                
        <div class="row featurette">
             <div class="col-md-7">
             
              <p class="lead">Click here to log in to the site </p>
              <a href="@controllers.security.routes.LoginCtrl.login()"> 
                <button class="btn btn-primary">Log in </button>
              </a>
              </div>
              
              <div class="col-md-5">
               <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/assets/images/musicImages/music1.png" data-holder-rendered="true">
               </div>
              </div>
                
              <hr class="featurette-divider">
                
          <div class="row featurette">
          <div class="col-md-7 order-md-2">
           
            <p class="lead">Press here to learn more about us </p>
            <a href="@routes.ProductCtrl.aboutUs()"> 
                <button class="btn btn-primary">About us</button>
              </a>
            </div>
          
           <div class="col-md-5 order-md-1">
           <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/assets/images/musicImages/music2.jpg" data-holder-rendered="true">
            </div>
            </div>
                
            <hr class="featurette-divider">
                
                
                    
        </main>
 
}
