
@import models.products.Product
@import models.users.Member
@(products: List[Product], catId: Long, filter: String,member: Member,env: play.api.Environment)


@main("ListPRoducts",member) {
  <h1>List of Products</h1>

  <table class="table table-bordered table-hover table-condensed">
      
      <thead>
      
      <!-- The header row-->
      
      <tr>

     <th>Images</th>
      
      <th>ID</th>
      
      <th>Album Name</th>
      
      <th>Year</th>
      
      <th>Type</th>
      
      <th>Price</th>

      <th>Stock</th>

      <th colspan="2"></th> 
      </tr>
      
      </thead>
      
      <tbody>
    
      
      @for(p<-products){
        <tr>


            @if(env.resource("public/images/productImages/thumbnails/"+ p.getId + ".png").isDefined){
              <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".png ")"/></td>
            } else {
              <td><img src="/assets/images/productImages/thumbnails/noImage.png"/></td>
          }   
          <td>@p.getId</td>
          
          <td><a href="@routes.ProductCtrl.productDetails(p.getId)">
            @p.getAlbum_name</td>
           </a>    
          <td>@p.getYear</td>
          <td>@p.getType</td>
          <td>@p.getPrice</td>
          <td>@p.getStock</td>
          <td><a href="@routes.ShopCartCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
      }
      
      </tbody>
      
      </table>
      
      <p>
        <a href="@routes.AdminProductCtrl.addProduct()"> 
          <button class="btn btn-primary">Add a project</button>
        </a>
      </p>
    
}
