
@import models.products.Product
@import models.products.Artist
@import models.users.Member
@(products: List[Product],artists: List[Artist], artId: Long, filter: String,member: Member,env: play.api.Environment)


@main("Albums",member) {
  <div class="jumbotron">
    <div class="container text-center">
      <h1>List of Albums</h1>      
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-2">
      <h4>Genres</h4>
      <div class="list-group">
        <a href="@routes.ProductCtrl.listProducts(0, filter)" class="list-group-item">All Genres</a>
        @for(a <- artists) {
          <a href="@routes.ProductCtrl.listProducts(a.getId, filter)" class="list-group-item">@a.getGenre
            <span class="badge">@a.getProducts.size()</span>
          </a>
        }
      </div>
    </div>
    <div class="col-sm-10">
        @if(flash.containsKey("success")) {
          <div class="alert alert-success">
            @flash.get("success")
          </div>
        }
  
        
        <div id="actions">
          <form action="@routes.ProductCtrl.listProducts(artId)" method="GET">
           <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by album name...">
           <input type="submit" id="searchsubmit" value="Filter by name" class="btn-md btn-primary">
          </form>
         </div>


  <table class="table">
      
      <thead>
      
   
      
      <tr>

     <th>Images</th>
      
      <th>ID</th>
      
      <th>Album Name</th>
      
      <th>Year</th>
      
      <th>Artist name</th>
      
      <th>Price</th>

      <th>Stock</th>
     

      <th colspan="2"></th> 
      </tr>
      
      </thead>
      
      <tbody>
    
      
      @for(p<-products){
        <tr>


            @if(env.resource("public/images/productImages/thumbnails/"+ p.getId + ".png").isDefined){
              <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".png ")"/></td>
            } else {
              <td><img src="/assets/images/productImages/thumbnails/noImage.png"/></td>
          }   
          <td>@p.getId</td>
          
          <td><a href="@routes.ProductCtrl.productDetails(p.getId)">
              @p.getAlbum_name</td>
           </a>    
          <td>@p.getYear</td>
          <td>@p.getArt_name</td>
          <td>@p.getPrice</td>
          <td>@p.getStock</td>
          
          <td><a href="@routes.ShopCartCtrl.addToBasket(p.getId)"  class="btn btn-default btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
      }
      
      </tbody>
      
      </table>
      
      <p>
        <a href="@routes.AdminProductCtrl.addProduct()"> 
          <button class="btn btn-primary">Add a project</button>
        </a>
      </p>
    
}
