@import models.products.Artist
@import models.products.Product
@import models.users.Member
@(productForm: Form[models.products.Product],member: models.users.Member)

@import helper._

@main("Add Project",member){ 
    <p class="lead">Add Product</p>
    
    @form(action=routes.AdminProductCtrl.addProductSubmit(), 'class -> "form-vertical", 'role -> "form",'enctype -> "multipart/form-data"){
      <div class="container">
          
        
    @CSRF.formField
    
    <div class="form-group">
        @inputText(productForm("album_name"), '_label -> "", 
        'class -> "form-control input-xs", 'placeholder -> "Album name")
    </div>

    @for((value, genre) <- Artist.options) {
      <input type="checkbox" name="artSelect[]" value="@value"
      
      />@genre<br>        
  }
  <div class="form-group">
      @inputText(productForm("year"), '_label -> "", 
      'class -> "form-control input-xs", 'placeholder -> "Year")
  </div>
  
    <div class="form-group">
        @inputText(productForm("art_name"), '_label -> "", 
        'class -> "form-control input-xs", 'placeholder -> "Artist")
    </div>
    <div class="form-group">
        @inputText(productForm("price"), '_label -> "", 
        'class -> "form-control input-xs", 'placeholder -> "Price")
    </div>

    <div class="form-group">
        @inputText(productForm("stock"), '_label -> "", 
        'class -> "form-control input-xs", 'placeholder -> "Stock")
    </div>
  
    
    <label>Image Upload</label>
    <input class="btn-sm btn-default" type="file" name="upload">
    <br><br>
  
    
    
    <div class="action"> 
      <input type="submit" value="Add Product" class="btn btn-primary">
      <a href="@routes.AdminProductCtrl.listProduct(0)"> 
        <button type="button" class="btn btn-warning">Cancel</button>
      </a>
    </div>
    </div>
      </body>
    
    
    }
    }