
@import models.products.Product
@import models.users.Member
@(products: List[models.products.Product],member: models.users.Member,env: play.api.Environment)

@main("ListPRoducts",member) {
  <h1>List of Products</h1>

  <table class="table table-bordered table-hover table-condensed">
      
      <thead>
      
      <!-- The header row-->
      
      <tr>

     <th>Images</th>
      
      <th>ID</th>
      
      <th>Album Name</th>
      
      <th>Year</th>
      
      <th>Type</th>
      
      <th>Price</th>

      <th>Stock</th>

      <th colspan="2"></th> 
      </tr>
      
      </thead>
      
      <tbody>
    
      
      @for(p<-products){
        <tr>


            @if(env.resource("public/images/productImages/thumbnails/"+ p.getId + ".png").isDefined){
              <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".png ")"/></td>
            } else {
              <td><img src="/assets/images/productImages/thumbnails/noImage.png"/></td>
          }   
          <td>@p.getId</td>
          <td>@p.getAlbum_name</td>
          <td>@p.getYear</td>
          <td>@p.getType</td>
          <td>@p.getPrice</td>
          <td>@p.getStock</td>

          <td>
                <a href="@routes.AdminProductCtrl.updateProduct(p.getId)" class="button-xs btn-danger" onclick="">
                  <span class="glyphicon glyphicon-pencil"></span>
                 </a>
                </td>
              <td>    
                  <a href="@routes.AdminProductCtrl.deleteProduct(p.getId)" class="button-xs btn-danger" onclick="return confirmDel();">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
        
      }
      
      </tbody>
      
      </table>
      
      <p>
        <a href="@routes.AdminProductCtrl.addProduct()"> 
          <button class="btn btn-primary">Add a project</button>
        </a>
      </p>
    
}
