
@import models.products.Product
@import models.products.Artist
@import models.users.Member
@(products: List[Product], artists: List[Artist], member: Member,env: play.api.Environment)

@main("ListPRoducts",member) {
  <h1>List of Products</h1>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <h4>Categories</h4>
      <div class="list-group">
        <a href="@routes.AdminProductCtrl.listProduct(0)" class="list-group-item">All Artists</a>
        @for(a <- artists) {
          <a href="@routes.AdminProductCtrl.listProduct(a.getId)" class="list-group-item">@a.getGenre
            <span class="badge">@a.getProducts.size()</span>
          </a>
        }
      </div>
    </div>
    <div class="col-sm-9">
  <table class="table">
      
      <thead>
      
   
      <tr>

     <th>Images</th>
      
      <th>ID</th>
      
      <th>Album Name</th>
      
      <th>Year</th>
      
      <th>Artist name</th>
      
      <th>Price</th>

      <th>Stock</th>

      <th colspan="2"></th> 
      </tr>
      
      </thead>
      
      <tbody>
    
      
      @for(p<-products){
        <tr>


            @if(env.resource("public/images/productImages/thumbnails/"+ p.getId + ".png").isDefined){
              <td><img src="/assets/images/productImages/thumbnails/@(p.getId + ".png ")"/></td>
            } else {
              <td><img src="/assets/images/productImages/thumbnails/noImage.png"/></td>
          }   
          <td>@p.getId</td>
          <td>@p.getAlbum_name</td>
          <td>@p.getYear</td>
          <td>@p.getArt_name</td>
          <td>@p.getPrice</td>
          <td>@p.getStock</td>

          <td>
                <a href="@routes.AdminProductCtrl.updateProduct(p.getId)" class="button-xs btn-danger" onclick="">
                  <span class="glyphicon glyphicon-pencil"></span>
                 </a>
                </td>
              <td>    
                  <a href="@routes.AdminProductCtrl.deleteProduct(p.getId)" class="button-xs btn-danger" onclick="return confirmDel();">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  </td>
        
      }
      
      </tbody>
      
      </table>
      
      <p>
        <a href="@routes.AdminProductCtrl.addProduct()"> 
          <button class="btn btn-primary">Add a project</button>
        </a>
      </p>
    
}
