@import models.products.Product
@import models.products.Artist
@import models.users.Member
@(id: Long,productForm: Form[models.products.Product],member: models.users.Member)
@import helper._
@main("Update Product", member){
<p class="lead"> Update Product</p>

@form(action=routes.AdminProductCtrl.updateProductSubmit(id), 'class -> "form-vertical", 
'role -> "form",'enctype -> "multipart/form-data") {
    @* CSRF attack prevention *@
    @CSRF.formField

    <div class="form-group">
            @inputText(productForm("album_name"), '_label -> "", 
            'class -> "form-control input-xs", 'placeholder -> "Album name")
        </div>

    <div class="form-group">
            @inputText(productForm("year"), '_label -> "", 
            'class -> "form-control input-xs", 'placeholder -> "Year")
       </div>

    @for((value, genre) <- Artist.options) {
        <input type="checkbox" genre="artSelect[]" value="@value"
        @if(Artist.inArtist(value.toLong, id)) {
            checked
        }
        />@genre<br>        
    }  

    <div class="form-group">
            @inputText(productForm("art_name"), '_label -> "", 
            'class -> "form-control input-xs", 'placeholder -> "Artist")
        </div>


    <div class="form-group">
                @inputText(productForm("price"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "Price")
            </div>
        
    <div class="form-group">
                @inputText(productForm("stock"), '_label -> "", 
                'class -> "form-control input-xs", 'placeholder -> "Stock")
            </div>

    <label>Image Upload</label>
    <input class="btn-sm btn-default" type="file" name="upload">
    <br><br>
  

    <div class="actions">
        <input type="submit" value="Update Product" class="btn btn-primary">
        <a href="@routes.AdminProductCtrl.listProduct(0)">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>
    </div>
 }
}
